@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-wrap {
  
  top: 1;
  width: 100%;
  overflow: hidden;
  height: 3rem;
  background:#058f1a;
  padding-left: 100%;
}

.ticker {
  display: inline-block;
  height: 1rem;
  line-height: 3rem;
  white-space: nowrap;
  padding-right: 100%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 110s;
  animation-duration: 110s;
}
.ticker_item {
  display: inline-block;
  padding: 0 1rem;
  font-size: 17px;
  color: #fff;
}

.news-container {
  position: fixed;
  top: 80px;
  background-color: #fff;
  width: 30rem;
}

.news-container .title {
  position: absolute;
  background: #058f1a;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px;
  color: white;
  font-weight: bold;
  z-index: 200;
}

.news-container ul {
  display: flex;
  list-style: none;
  margin: 0;
  animation: scroll 25s infinite linear;
}

.news-container ul li {
  white-space: nowrap;
  padding: 10px 24px;
  color: #494949;
  position: relative;
}

.news-container ul li::after {
  content:"";
  width: 1px;
  height: 100%;
  background: #b8b8b8;
  position: absolute;
  top: 0;
  right: 0;
}

.news-container ul li:last-child::after {
  display: none;
}

@keyframes scroll {
  from {
      transform: translateX(100%);
  }

  to {
      transform: translateX(-1083px);

  }
}
.prices-container {
  position: fixed;
  top: 80px;
  left: 50rem;
  background-color: #fff;
  width: 30rem;
  
}

.prices-container .title {
  position: absolute;
  background: #058f1a;
  height: 100%;
  display: flex;
  align-items: center;
  
  padding: 0 24px;
  color: white;
  font-weight: bold;
  z-index: 200;
}

.prices-container ul {
  display: flex;
  list-style: none;
  margin: 0;
  animation: scroll 25s infinite linear;
}

.prices-container ul li {
  white-space: nowrap;
  padding: 10px 24px;
  color: #494949;
  position: relative;
}

.prices-container ul li::after {
  content:"";
  width: 1px;
  height: 100%;
  background: #b8b8b8;
  position: absolute;
  top: 0;
  right: 0;
}

.prices-container ul li:last-child::after {
  display: none;
}

@keyframes scroll {
  from {
      transform: translateX(100%);
  }

  to {
      transform: translateX(-1083px);

  }
}